.button {
    padding: 20px;
    margin: 20px;
    margin-left: 50px;
    width: 100px;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
}
.buttons {
    padding: 20px;
    margin: 20px;
    margin-left: 50px;
    margin-top: 50px;
    width: 100px;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    display: inline-block;
}

#grey {
    background-color: gray;
}
#yellow {
    background-color: yellow;
}
#blue {
    background-color: blue;
}
#purple {
    background-color: purple;
}
#brown {
    background-color: brown;
}
#skyblue {
    background-color: skyblue;
}
#voilet {
    background-color: violet;
}
#orange {
    background-color: orange;
}